<div class="header-notice">
    <p>
        <i class="fa-solid fa-bell"></i>
        <span>
            Giao hàng MIỄN PHÍ 1 hãng trên 1.900.000đ tại Nghệ An. Có dịch vụ lắp đặt.
        </span>
    </p>
</div>