<h2 class="title-header">Thêm danh mục sản phẩm</h2>
<form >
<div class="form-group">
	<label for="categories">Choose parent category:</label>
	<select id="categories" class="form-select" aria-label="Default select example">
		<option>--Select parent category--</option>
  	</select>
	<input type="text" name="">
</div>
	<button class="mt-2 btn btn-primary" type="submit">Submit</button>
</form>
